/* ==UserStyle==
@name           Privatter
@version        1.0.1
@description    Changes some things on privatter.net
@author         NekoBoiNick
@namespace      github.com/thakyZ/Userscripts
@homepageURL    https://github.com/thakyZ/Userscripts/blob/master/css/TestStyle.user.css
@updateURL      https://raw.githubusercontent.com/thakyz/Userscripts/master/css/TestStyle.user.css
==/UserStyle== */

@-moz-document url-prefix("https://privatter.net/") {
.navbar-brand,
.caret {
    color: #0c0c0d !important;
}
.nav-tabs > li.active > a > svg,
.nav-tabs > li.active > a {
    color: #f9f9fa !important;
}
a[href="/adcookie.php"] {
    display: none;
}
a[href="/theme/ceruleen"] {
    content: "light theme";
}
a[href="/theme/darkly"] {
    content: "dark theme";
}
}
