#hide-disqus_thead {
  position: relative;
  left: calc(100% + 32px);
  height: 0px;
}
#hide-disqus_thread-button {
  width: 34px;
  height: 34px;
}
div#hide-disqus_thread-button-icon.fold-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iI0ZGRiIgdmlld0JveD0iNCA0IDE2IDE2Ij48cGF0aCBkPSJNNy40MSwxNS40MUwxMiwxMC44M0wxNi41OSwxNS40MUwxOCwxNEwxMiw4TDYsMTRMNy40MSwxNS40MVoiIC8+PC9zdmc+");
  height: 24px;
  transition: transform 0.2s ease-out;
}
div#hide-disqus_thread-button-icon.fold-icon.unhidden {
  transform: rotate(0deg);
}
div#hide-disqus_thread-button-icon.fold-icon.hidden {
  transform: rotate(180deg);
}
#disqus_thread[data-hide="false"] iframe[src*="https://disqus.com/embed/comments/"]
{
  height: var(--hideButtonStyleVar) !important;
}
#disqus_thread[data-hide="true"] iframe[src*="https://disqus.com/embed/comments/"]
{
  height: 0px !important;
}
#disqus_thread[data-hide] {
  height: var(--disqusHeight) !important;
}
#disqus_thread[data-hide] iframe[src*="https://disqus.com/embed/comments/"]
{
  transition: height 0.2s ease-out;
}
table.datatable-GEtable3 th {
  background-color: transparent;
}
table.datatable-GEtable3 tr {
  background-color: var(--lighterWhite);
  color: white;
}
table.datatable-GEtable3 tr:hover {
  background-color: var(--lighterWhiteHover);
  color: white;
}
table.datatable-GEtable th {
  background-color: transparent;
}
table.datatable-GEtable tr {
  background-color: var(--darkerWhite);
}
table.GEtable th {
  background-color: transparent;
}
table.GEtable tr {
  background-color: var(--lighterWhite);
  background-color: var(--darkerWhite);
  color: white;
}
table.GEtable tr:hover {
  background-color: var(--lighterWhiteHover);
  color: white;
}
table.wikitable {
  background-color: var(--darkerWhite);
  border-color: #000 !important;
}
table.wikitable th {
  border-color: #000 !important;
}
table.wikitable td {
  border-color: #000 !important;
}
table.prettytable {
  background-color: var(--darkerWhite);
  border-color: #000 !important;
}
table.prettytable th {
  border-color: #000 !important;
}
table.prettytable td {
  border-color: #000 !important;
}
table.datatable-yellow tr {
  background-color: #0d0d0d;
}
table.datatable-yellow.hover {
  background-color: #1a1a1a;
}
table.navbox {
  border-color: #000 !important;
}
table.navbox th {
  background-color: #0d0d0d;
}
table[style="background: none 0% 0% / auto repeat scroll padding-box border-box rgb(37, 37, 38); color: white;"]:not(
    .wikitable
  )
  table
  tbody
  tbody
  tr:first-child {
  color: #101010;
}
table[style="background: none 0% 0% / auto repeat scroll padding-box border-box rgb(37, 37, 38); color: white;"]:not(
    .wikitable
  )
  table
  tbody
  tbody
  tr:first-child
  a {
  color: #101010;
}
.navbox-title,
.navbox-abovebelow,
.navbox-group,
.navbox-subgroup .navbox-title,
.navbox-even {
  background-color: #0d0d0d;
}
.navbox,
.navbox-subgroup {
  background-color: #1a1a1a;
}
.rightbox {
  background-color: var(--darkerWhite);
}
.ad {
  display: none;
}
.body > div > .content {
  overflow: hidden;
}
.dark .content div.thumbinner {
  background-color: var(--darkerWhite);
  border-color: #000;
}
.dark .nav-page-actions a div.thumbinner {
  background-color: var(--darkerWhite);
  border-color: #000;
}
.dark .nav-content .thumbimage {
  background-color: var(--darkerWhite);
  border-color: #000;
}
.dark font[color="black"] {
  color: #fff !important;
}
.wikitable {
  color: #fff;
}
.copyItemBoxHeaderButton {
  vertical-align: middle;
  display: inline-block;
}
.copyItemBoxHeaderButton button {
  width: 32px;
  height: 32px;
  padding: 8px 10px 8px 10px;
  margin-left: 1em;
}
.copyItemBoxHeaderButton button:hover {
  cursor: pointer;
}
.copyItemBoxHeaderButton button i {
  font-size: 16px;
}
