:root {
  --body-background: var(--temp_color-20);
  --body-background-dark: var(--tempColor-10);
  --body-text: var(--tempColor-10);
  --body-text-dark: var(--tempColor-15);
}

@import "../GM_config/style.less";
