.tray {
  position: fixed;
  min-height: 20px;
  min-width: 75px;
  left: 0px;
  top: calc(50% - 35px);
  border-style: solid;
  border-left-width: 0;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: #3c3c3c;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.7);
}
.tray .tray_item {
  position: relative;
  display: block;
}
.tray .tray_item .menuIcon {
  z-index: 9999;
}
.tray .tray_item a {
  padding: 0 10px 0 25px;
  display: block;
  text-align: left;
  position: relative;
  line-height: 20px;
  height: 20px;
  white-space: nowrap;
}
.tray .tray_item a:hover {
  background: url("/images/style/menuEntryHover.png?v=2");
}
