:root {
  --page-background: #212121;
  --config-wrapper-foreground: #fff;
  --config-wrapper-background: #212121;
  --config-wrapper-background-hover: #303030;
  --config-wrapper-btn-font-size: 12px;
  --config-wrapper-btn-padding: 5px 10px;
  --config-wrapper-btn-text-decoration: none;
  --config-wrapper-btn-border: none;
  --config-wrapper-btn-foreground: #ffffe6;
  --config-wrapper-btn-background: #bdab82;
  --config-wrapper-btn-background-webkit: -webkit-linear-gradient(top, #bdab82, #908263);
  --config-wrapper-btn-background-moz: -moz-linear-gradient(top, #bdab82, #908263);
  --config-wrapper-btn-background-ms: -ms-linear-gradient(top, #bdab82, #908263);
  --config-wrapper-btn-background-o: -o-linear-gradient(top, #bdab82, #908263);
  --config-wrapper-btn-background-any: linear-gradient(to bottom, #bdab82, #908263);
  --config-wrapper-btn-border-radius-spec: 14;
  --config-wrapper-btn-border-radius: 14px;
  --config-wrapper-btn-hover-background: #908263;
  --config-wrapper-btn-hover-background-image-webkit: -webkit-linear-gradient(top, #908263, #bdab82);
  --config-wrapper-btn-hover-background-image-moz: -moz-linear-gradient(top, #908263, #bdab82);
  --config-wrapper-btn-hover-background-image-ms: -ms-linear-gradient(top, #908263, #bdab82);
  --config-wrapper-btn-hover-background-image-o: -o-linear-gradient(top, #908263, #bdab82);
  --config-wrapper-btn-hover-background-any: linear-gradient(to bottom, #908263, #bdab82);
  --config-wrapper-select-padding: 0.5em;
  --config-wrapper-select-color: #ddd;
  --config-wrapper-select-background-color: rgba(0, 0, 0, calc(105 / 255));
  --config-wrapper-select-border: 5px solid;
  --config-wrapper-select-border-radius: 0;
  --config-wrapper-select-border-image: url(../images/comment_border.png) 5 repeat repeat;
  --config-wrapper-option-background: #000;
  --config-wrapper-option-color: #ddd;
  --config-wrapper-border: #2f2f2f;
}
