#copy-author-btn.btn-dropdown-copy-author {
  font-size: 16px;
  background: transparent;
  color: var(--text-color);
  border-style: solid;
  border: 1px solid #ebeff3;
  padding: 3px 6px;
  margin: 4px 4px;
  border-radius: 8px;
}
#copy-author-btn.btn-x-small-copy-author {
  font-size: 16px;
  background: var(--btn-bg-gray-secondary);
  color: var(--text-color);
  border: none;
  padding: 2px 2px;
  margin: 4px 0;
  width: 26px;
  height: 26px;
  border-radius: 12px;
}
#copy-author-btn.btn-x-small-copy-author .fas {
  font-size: 12px;
}
#copy-author-btn + span {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
#nbnMass label {
  min-height: unset;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 53px;
  min-width: 53px;
  margin-left: auto;
}
#nbnMass #nbnMassStatus {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--text-default-white);
  padding: 3px 10px;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  overflow: visible;
}
#nbnMass #nbnMassStatus[status="none"] {
  display: none;
}
#nbnMass #nbnMassStatus[status="fail"] {
  background-color: var(--dialog-warning-text-color);
  min-height: 17px;
}
#nbnMass #nbnMassStatus[status="success"] {
  background-color: var(--text-success);
  min-height: 17px;
}
