#GM_Config_ID {
  background-color: #333;
  color: #fff;
}
#GM_Config_ID .field_list_scroll_wrapper {
  min-height: -moz-available;
  overflow-x: none;
  overflow-y: scroll;
  margin-top: 1em;
  padding: 10px;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: #1b1b1b;
  max-width: 85%;
}
#GM_Config_ID ul {
  padding-inline-start: 0;
}
#GM_Config_ID ul li {
  list-style-type: none;
}
#GM_Config_ID ul li:last-child button {
  min-width: 15rem;
}
#GM_Config_ID ul li:not(:last-child) {
  margin-bottom: 1em;
}
#GM_Config_ID ul li:not(:last-child) .field_list_label {
  margin-right: 1em;
  color: #eee;
  font-family: monospace;
}
#GM_Config_ID ul li:not(:last-child) .field_list_input_label {
  margin-right: 1em;
}
#GM_Config_ID ul li:not(:last-child) input {
  margin-right: 1em;
}
#GM_Config_ID ul li:not(:last-child) input[type="number"] {
  -moz-appearance: textfield;
}
#GM_Config_ID ul li:not(:last-child) input[type="number"]::-webkit-outer-spin-button,
#GM_Config_ID ul li:not(:last-child) input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
